@charset "UTF-8";

:root{
    --color1: #242527;
    --color2: #21263a;
    --color3: #4d546d;
    --color4: #6f7177;
    --color5: #2e3137;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background: black url(../imagens/space.jpg) no-repeat center center fixed;
    background-size: cover;
}
header{
    background-color: var(--color1);
    height: 250px;
}
header > p{
    text-align: center;
    padding: 10px;
    color: white;
}
h1{
    font-size: 50px;
    padding-top: 100px;
    text-align: center;
    color: white;
}
main{
    font-size: 20px;
    padding: 5px;
    background-color: white;
    max-width: 800px;
    margin: auto;
}
h2{
    padding: 2px;
    margin: 0px 0px 10px 0px;
    background-color: var(--color3);
    color: white;
    border-radius: 5px;
}
main > p{
    padding-bottom: 10px;
    padding-top: 5px;
}
img{
    display: block;
    margin: auto;
    border-radius: 15px;
    min-width: 400px;  
}
img#solar{
    width: 70%;
    padding-bottom: 10px;
}
img#mercur{
    border-radius: 50px;
    width: 70%;
}
img#venus{
    border-radius: 50px;
    width: 40%;
}
div#fundo{
    background: black url(../imagens/planeta-terra.webp) center center no-repeat fixed;
    background-size: cover;
    margin: auto;
    margin-bottom: 10px;
    width: 100%;
    height: 500px;
    padding: 10px 0px;
    border-radius: 5px;
}
p.textofundo{
    color: white;
    background-color: #0000007d;
    margin: 0px 10px;
    padding: 5px;
}
img#marte{
    width: 70%;
    margin-bottom: 10px;
}
img#jup{
    width: 60%;
    border-radius: 50px;
    padding: 20px;
    min-width: 300px;
}
img#aneis{
    width: 80%;
}
img#urano{
    width: 80%;
}
img#netun{
    width: 70%;
}
th,td{
    border: solid 2px black;
    padding: 5px;
    text-align: center;
}
th{
    background-color: var(--color4);
    color: white;
}
table{
    margin: auto;
    border-collapse: collapse;
    width: 70%;
}
thead > tr > th{
    position: sticky;
    top: -1px;
    background-color: var(--color4);
    border: solid black 2px;
        border-collapse: collapse;
    }
    a.link{
        text-decoration: none;
    color: #464647;
}
a.link:hover{
    transition-duration: 0.5s;
    background-color: var(--color4);
    border-radius: 5px;
}
iframe#video{
    display: block;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
}
footer{
    background-color: rgb(21, 21, 21);
    text-align: center;
    color: white;
}
p#curiosidade{
    text-align: left;
    background-color: var(--color5);
    display: inline;
    border-radius: 10px;
    margin: 5px;
}
p#curiosidade:hover{
    background-color: var(--color4);
    transition-duration: 0.8s;
}